.App {
  /* background: rgba(24, 24, 24, 1); */
  background-image: url("../../images/bg_black_2.jpg");
  background-blend-mode: lighten;
  border-left: 14px solid rgba(40, 40, 40, 1);
  border-right: 14px solid rgba(40, 40, 40, 1);
  color: white;
  font-family: 'Inconsolata', 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

body {
  background: rgba(34, 34, 34, 1);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inconsolata', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold {
  font-weight: 700;
}

.color-blue {
  color: #48c6e4;
}

.color-brown {
  color: rgb(189, 53, 53);
}

.color-green {
  color: mediumaquamarine;
}

.color-red {
  color: red;
}

.color-yellow {
  color: rgb(255, 255, 195);
}

#contact {
  margin-top: 30px;
}

#contact a {
  color: #ffd468;
}

#contact a:hover {
  font-weight: 600;
}

#contact-body {
  font-size: 1rem;
  padding: 50px 50px;
  text-align: left;
}

#contact-email {
  padding-bottom: 50px;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#contact-header {
  border-bottom: 4px solid white;
  font-size: 2.2rem;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

#contact-header div {
  padding-bottom: 10px;
}

.contact-sub-header {
  border-bottom: 2px solid white;
  font-size: 1.1rem;
  font-weight: bold;
  width: fit-content;
}

footer {
  /* background:rgba(24, 24, 24, 1); */
  flex-shrink: 0;
  font-size: 1rem;
  margin-top: 80px;
  padding: 2px 0 5px 0;
}

footer a {
  color: #ffd966;
}

footer a:hover {
  font-weight: bold;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding-left: 0;
}

header {
  /* background:rgba(24, 24, 24, 1); */
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: fit-content;
  padding: 10px 50px;
}

header img {
  width: 80px;
  filter: brightness(120%);
  -webkit-filter: brightness(120%);
}

header a {  
  border: 4px solid #ffc229;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  color: #ffd966;
  display: inline-block;
  letter-spacing: 1.2px;
  font: normal bold 20px/40px "Inconsolata", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

header a:hover {
  background: rgba(255, 255, 255, 1);
  border-color: #ffd468;
  color: black;
}

.legal {
  padding: 10px 50px 20px 50px;
  text-align: left;
}

.legal a {
  color: #ffd468;
}

.legal a:hover {
  font-weight: 600;
}

.legal-body {
  font-size: 1rem;
  padding-bottom: 10px;
}

.legal-body-header {
  font-size: 1.1rem;
  font-weight: 700;
}

.legal-date {
  font-size: 0.9rem;
  padding: 10px 0 30px 0;
  text-align: center;
}

.legal-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
}

.legal-header {
  border-bottom: 4px solid white;
  font-size: 2.2rem;
  font-weight: 600;
  margin: 30px auto 0 auto;
  width: fit-content;
}

.legal-sub-header {
  border-bottom: 2px solid white;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: fit-content;
}

main {
  display: flex;
  flex-direction: column;
}

#patch {
  color: rgba(60, 60, 60, 1);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 4px;
  position: absolute;
}

#riot-disclaimer {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 20px 120px;
}

section {
  flex: 1 0 auto;
  padding: 20px 0;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  footer {
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 0 20px;
  }

  #riot-disclaimer {
    font-size: 1rem;
    padding: 20px 60px;
  }
}