.App {
  /* background: rgba(24, 24, 24, 1); */
  background-image: url("../../images/bg_black_2.webp");
  background-blend-mode: lighten;
  border-left: 14px solid rgba(40, 40, 40, 1);
  border-right: 14px solid rgba(40, 40, 40, 1);
  color: white;
  font-family: 'Inconsolata', 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

body {
  background: rgba(34, 34, 34, 1);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inconsolata', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold {
  font-weight: 700;
}

.color-blue {
  color: #48c6e4;
}

.color-brown {
  color: rgb(189, 53, 53);
}

.color-green {
  color: mediumaquamarine;
}

.color-red {
  color: red;
}

.color-orange {
  color: orangered;
}

.color-yellow {
  color: rgb(255, 255, 195);
}

#contact {
  margin-top: 30px;
}

#contact a {
  color: #ffd468;
}

#contact a:hover {
  font-weight: 600;
}

#contact-body {
  font-size: 1rem;
  padding: 50px 50px;
  text-align: left;
}

#contact-email {
  padding-bottom: 50px;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#contact-header {
  border-bottom: 6px solid #ffd966;
  color: #ffd966;
  font-size: 2.2rem;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}

#contact-header div {
  padding-bottom: 10px;
}

.contact-sub-header {
  border-bottom: 3px solid #ffd966;
  color: #ffd966;
  font-size: 1.1rem;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
}

.empty {
  display: none;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

footer {
  /* background:rgba(24, 24, 24, 1); */
  flex-shrink: 0;
  font-size: 1rem;
  margin-top: 80px;
  padding: 2px 0 5px 0;
}

footer a {
  color: #ffd966;
}

footer a:hover {
  font-weight: bold;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding-left: 0;
}

header {
  /* background:rgba(24, 24, 24, 1); */
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 50px;
}

.header-button {  
  background: #ffe185;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe185), to(#ffd145));
  background: -moz-linear-gradient(top, #ffe185, #ffd145);
  background: linear-gradient(to bottom, #ffe185, #ffd145);
  border: 8px solid #ffc61b;
  border-radius: 5px;
  color: black;
  font-family: 'Inconsolata', 'Roboto', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
}

.header-button:hover {
  border: 8px solid #ffffff;
}

#header-img {
  width: 100px;
  -webkit-filter: brightness(130%);
  filter: brightness(130%);
}

.legal {
  padding: 10px 50px 20px 50px;
  text-align: left;
}

.legal a {
  color: #ffd468;
}

.legal a:hover {
  font-weight: 600;
}

.legal-body {
  font-size: 1rem;
  padding-bottom: 10px;
}

.legal-body-header {
  color: #ffd966;
  font-size: 1.1rem;
  font-weight: 700;
}

.legal-date {
  font-size: 0.9rem;
  padding: 10px 0 30px 0;
  text-align: center;
}

.legal-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
}

.legal-header {
  border-bottom: 4px solid #ffd966;
  color: #ffd966;
  font-size: 2.2rem;
  font-weight: 600;
  margin: 30px auto 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}

.legal-sub-header {
  color: #ffd966;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: -moz-fit-content;
  width: fit-content;
}

main {
  display: flex;
  flex-direction: column;
}

#not-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
}

#not-found-img {
  margin: 10px 0 60px 60px;
  width: 300px;
}

#not-found-quote {
  text-align: center;
}

#not-found-quote h4 {
  text-align: right !important;
}

#not-found-top {
  text-align: center;
}

#not-found-top h1 {
  font-size: 4rem;
  text-decoration: underline;
}

#not-found-top h3 {
  font-size: 1.5rem;
}

.margin-top-10 {
  margin-top: 10px;
}

#patch {
  color: rgba(60, 60, 60, 1);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 4px;
  position: absolute;
}

#riot-disclaimer {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 20px 120px;
}

section {
  flex: 1 0 auto;
  padding: 20px 0;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  .App {
    border-left: 8px solid rgba(40, 40, 40, 1);
    border-right: 8px solid rgba(40, 40, 40, 1);
  }

  footer {
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 0 20px;
  }

  .header-button {
    font-size: 1.5rem;
    width: 120px;
  }

  .legal {
    padding: 10px 30px 20px 30px;
  }

  #riot-disclaimer {
    font-size: 1rem;
    padding: 20px 60px;
  }
}

@media screen and (max-width: 800px) {
  footer {
    font-size: 1rem;
    margin-top: 20px;
    padding: 0 10px;
  }

  .header-button {
    font-size: 1.1rem;
    width: 90px;
  }

  #riot-disclaimer {
    font-size: 0.8rem;
    padding: 20px 40px;
  }
}

@media screen and (max-width: 500px) {
  .App {    
    border-left: 4px solid black;
    border-right: 4px solid black;
  }

  #contact {
    margin-top: 10px;
  }
  
  #contact-body {
    font-size: 1rem;
    padding: 30px 30px;
  }
  
  #contact-email {
    padding-bottom: 20px;
  }
  
  #contact-header {
    border-bottom: 4px solid #ffd966;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .contact-sub-header {
    border-bottom: 2px solid #ffd966;
    font-size: 1.4rem;
  }
  
  footer {
    font-size: 0.9rem;
    margin-top: 5px;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px;
  }
  
  .header-button {
    border: 4px solid #ffc61b;
    padding: 5px 5px;
    width: 90px;
  }
  
  .header-button:hover {
    border: 4px solid #ffffff;
  }
  
  #header-img {
    width: 60px;
  }

  .legal {
    padding: 10px 20px 20px 20px;
  }

  .legal-body {
    font-size: 0.9rem;
    padding-bottom: 15px;
  }

  .legal-header {
    margin: 0 auto 0 auto;
  }
  
  #not-found-img {
    margin: 10px 0 30px 60px;
    width: 250px;
  }
  
  #not-found-top h1 {
    font-size: 5rem;
  }

  #not-found-quote {
    padding: 0 30px;
  }

  #not-found-top h1 {
    margin: 0 0 30px 0;
  }

  #patch {
    display: none;
  }

  #riot-disclaimer {
    font-size: 0.8rem;
  }
}