.item {
  text-align: center;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  flex: 1 0 12%;
}

.item a img {
  box-shadow: 0 0 15px 10px white;
  border: 6px solid black;
  border-radius: 90px;
  margin: 0 auto;
  width: 90px;
  -webkit-filter: contrast(120%);
  filter: contrast(120%);
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.item img:hover {
  box-shadow: 0 0 10px 12px white;
  cursor: pointer;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.item p {
  margin-top: 30px;
}

.item * {
  display: block;
}

#items {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: 700;
  gap: 40px;
  justify-content: space-evenly;
  padding: 60px 25px 40px 25px;
}

.item-build {
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
  font-weight: 700;
  text-align: center;
}

.item-build-img {
  box-shadow: 0 0 10px 10px white;
  border: 4px solid black;
  border-radius: 90px;
  -webkit-filter: contrast(120%);
  filter: contrast(120%);
  width: 80px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.item-build-img:hover {
  box-shadow: 0 0 10px 12px white;
  cursor: pointer;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.item-build-name {
  color: #ffd966;
  font-size: 1.2rem;
  margin-top: 20px;
}

.item-build-none {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

#item-builds {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 30px;
  width: 100%;
}

#item-builds-list {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  row-gap: 60px;
}

#item-detail {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: space-evenly;
  margin-top: 10px;
}

.item-heading {
  color: #ffebc5;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
}

.item-heading-img {
  width: 30px;
  vertical-align: middle;
  padding: 0 25px 5px 25px;
  -webkit-filter: contrast(120%);
  filter: contrast(120%);
}

#item-img img {
  box-shadow: 0 0 10px 10px white;
  border: 6px solid black;
  border-radius: 10px;
  max-width: 100px;
  width: 80px;
  margin: 40px 0 30px 0;
  -webkit-filter: contrast(120%);
  filter: contrast(120%);
}

#item-name {
  color: #ffd966;
  font-size: 4rem;
  font-family: 'Shadows Into Light', sans-serif;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#item-price {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.9rem;
  font-weight: 700;
  gap: 30px;
  margin: 20px 0;
}

#item-price-buy {
  align-items: flex-end;
  color: #ffd966;
  display: flex;
  flex-direction: column;
  width: 100px;
}

#item-price-buy div:first-of-type {
  color: #ffebc5 !important;
  font-size: 1.6rem;
  margin-bottom: 5px;
  text-align: right;
}

#item-price-sell {
  align-items: flex-start;
  color: rgb(225, 60, 60);
  display: flex;
  flex-direction: column;
  width: 100px;
}

#item-price-sell div:first-of-type {
  color: #ffebc5 !important;  
  font-size: 1.6rem;
  margin-bottom: 5px;
  text-align: left;
}

#item-price-buy-img {
  margin-right: 4px;
  width: 25px;
}

#item-price-sell-img {
  margin-left: 4px;
  width: 25px;
}

#item-price-title {
  display: flex;
  font-weight: 700;
  gap: 20px;
  margin: 10px 0 6px 0;
}

.item-stat {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.item-stat div {
  width: 200px;
}

.item-stat-top {
  color: #ffebc5;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.item-stat-top div {
  width: 200px;
}

#item-stat-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;;
  margin-top: 20px;
  text-align: center;
}

#item-stats {
  margin: 40px 0;
}

#item-tier {
  font-weight: 700;
  margin-top: 10px;
}

#item-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: -5px;
  margin-bottom: 15px;
}

.item-usage {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.item-usage::first-letter { 
  text-transform: capitalize;
}

#item-usage-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

#item-usages {
  margin: 40px 0;
  text-align: center;
}


@media screen and (max-width: 500px) {
  .item {
    flex: 1 0 29%;
  }

  .item a img {
    box-shadow: 0 0 10px 6px white;
    border: 4px solid black;
    width: 80px;
    margin: 0 auto;
  }

  .item p {
    margin-top: 22px;
  }

  #items {
    font-size: 0.8rem;
    column-gap: 15px;
    row-gap: 20px;
    padding: 20px 5px;
  }
}