.champion {
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
}

.champion a img {
  border: 4px solid transparent;
  border-radius: 10px;
  filter: contrast(120%);
  -webkit-filter: contrast(120%);
  width: 120px;
}

.champion img:hover {
  border: 4px solid #ffd468;
  cursor: pointer;
}

.champion * {
  display: block;
}

#champions {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  gap: 40px;
  justify-content: space-evenly;
  padding: 60px 25px 40px 25px;
}

#champion-abilities {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: 30px;
  margin: 60px 60px;
}

#champion-abilities .champion-heading-img {
  width: 40px;
}

#champion-detail {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
}

.champion-heading {
  color: #ffebc5;
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-align: center;
}

.champion-heading-img {
  width: 30px;
  vertical-align: middle;
  padding: 0 25px 5px 25px;
  filter: contrast(120%);
  -webkit-filter: contrast(120%);
}

#champion-img img {
  border: 8px solid black;
  border-radius: 10px;
  max-width: 300px;
  margin: 40px 0;
  filter: contrast(120%);
  -webkit-filter: contrast(120%);
}

#champion-lore {
  font-family: 'Inconsolata', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 40px 60px;
}

#champion-lore-story {
  padding-top: 10px;
}

#champion-name {
  color: #ffd966;
  font-size: 3rem;
  font-family: 'Shadows Into Light', sans-serif;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#champion-price {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  font-weight: 700;
  gap: 20px;
  margin: 0 0 30px 0;
}

#champion-price-be {
  align-items: center;
  color: #48c6e4;
  display: flex;
}

#champion-price-rp {
  align-items: center;
  color: #ffd966;
  display: flex;
}

#champion-price-be-img {
  margin-left: 1px;
}

#champion-price-rp-img {
  margin-left: 4px;
  width: 18px;
}

.champion-role { 
  text-transform: lowercase;
}

.champion-role::first-letter { 
  text-transform: capitalize;
}
 
#champion-update, 
#champion-release {
  width: 150px;
}

#champion-roles div, 
#champion-update div, 
#champion-release div {
  padding-bottom: 3px;
}

#champion-roles-release {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  gap: 150px;
  margin: 35px 0;
  text-align: center;
}

.champion-separator {
  border-top: 8px solid rgba(35, 35, 35, 1);
  border-radius: 5px;
  margin: 0 auto;
  width: 50%;
}

.champion-skin {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  font-weight: 700;
  gap: 8px;
}

.champion-skin-img {
  border: 8px solid black;
  border-radius: 90px;
  filter: contrast(120%);
  -webkit-filter: contrast(120%);
  width: 160px;
}

.champion-skin-name {
  color: #ffebc5;
  font-size: 1.2rem;
}

.champion-skin-price {
  align-items: center;
  color: #ffd966;
  display: flex;
  font-size: 1.2rem;
  gap: 5px;
}

#champion-skins {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 60px 60px;
  width: 100%;
}

#champion-skins-list {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 60px;
}

.champion-spell div {
  padding: 5px 0;
}

.champion-spell-description {
  margin: 15px 0;
}

.champion-spell-key {
  font-size: 1.4rem;
}

.champion-spell-name {
  color: #ffd966;
  font-family: 'Shadows Into Light', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
}

#champion-spells-title {
  margin-bottom: 30px;
}

.champion-spell-img {
  border: 6px solid black;
  border-radius: 10px;
  width: 90px;
  vertical-align: middle;
  filter: contrast(130%);
  -webkit-filter: contrast(130%);
}

.champion-spells-row-top {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.champion-spells-row {
  align-content: stretch;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.champion-spells-row div {
  flex-basis: 33%;
}

.champion-spells-row span {
  display: inline-block;
  text-transform: lowercase;
}

.champion-spells-row span {
  text-transform: capitalize;
}

#champion-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: -5px;
}

#champion-tips {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  gap: 100px;
  margin: 60px 60px;
  min-width: 90%;
}

.champion-tip {
  flex-basis: 50%;
}

@media screen and (max-width: 1100px) {
  #champion-lore {
    margin: 40px 30px;
  }
  
  .champion-mini-title {
    font-size: 1.6rem;
  }

  #champion-tips {
    gap: 50px;
    margin: 20px 30px;
  }

  .champion-spell-name {
    font-size: 1.8rem;
  }

  #champion-abilities {
    margin: 40px 30px;
  }

  .champion-spells-img {
    width: 40px;
  }
}